section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid black;
    padding: 0 24px;
}

span {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 22px;
}

.flex {
    display: flex;
    border: 1px solid black;
}

.button {
    width: 83px;
    height: 43px;
    background-color: #E8833A;
    color: #fff;
    border-radius: 3px;
    margin-right: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}